/* Box model global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* =======================
   COLOR PALETTE
======================= */
:root {
  --viola100: #f4f2fb;
  --viola200: #DBD3F2;
  --viola300: #8357AB;
  --viola400: #6A488B;
  --viola500: #4A365F;
  --viola600: #342541;
  --viola700: #24182f;


  --beige100: #FCF8F0;
  --beige200: #F9EFDB;
  --beige300: #EDD1A0;
  --beige400: #E8C489;

  --white: #FFFFFF;
  --black: #000000;

  /* =======================
     FONT VARIABLES
  ======================= */
  --primary-font: "Nunito Sans", sans-serif;
  --secondary-font: "Caprasimo", serif;
  --tertiary-font: "Lobster", cursive;

  /* =======================
     FONT SIZE VARIABLES (REM)
  ======================= */
  --fs-base: 1rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1.2rem;
  --fs-lg: 1.5rem;
  --fs-h2: 3rem;
  --fs-h1: 5rem;
  --fs-tagline: 1.35rem;
}

/* Base font scaling */
html {
  font-size: 16px;
}

/* =======================
   GENERAL STYLES
======================= */
body {
  background-color: var(--viola600);
  color: var(--viola100);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

/* =======================
   TYPOGRAPHY
======================= */

/* H1 */
h1 {
  font-family: var(--secondary-font);
  font-size: var(--fs-h1);
  letter-spacing: 0.0625em;
  line-height: 1;
  margin: 2em 0 1em;
}


/* H2 */
h2 {
  font-family: var(--tertiary-font);
  font-size: var(--fs-h2);
  line-height: 1;
  margin: 2em 0 1em;
}


/* H3 */
h3 {
  font-family: var(--secondary-font);
  font-size: var(--fs-md);
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
  margin: 2em 0 1em;
}


/* P */
p {
  font-size: var(--fs-md);
  line-height: 1.5;
}

/* Emphasis */
em {
  font-style: normal;
  font-weight: bold;
  color: var(--beige400);
}

/* Subtitle */
.subtitle {
  font-size: var(--fs-lg);
  color: var(--beige300);
}

/* =======================
   LINKS
======================= */
a {
  color: var(--beige400);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.09em;
  text-underline-offset: 0.18em;
  text-decoration-skip-ink: auto;
}

/* Tagline */
.tagline {
  font-size: var(--fs-tagline);
  color: var(--beige300);
}

/* Code Block */
code {
  background-color: var(--beige300);
  color: var(--black);
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}

/* Section for answers */
.answers {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid var(--beige100);
}

/* =======================
   HERO SECTION
======================= */

#hero-section {
  background-image: url('../img/hero-image.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 50%;
  background-color: var(--beige200);
  padding-top: 4rem;
  padding-bottom: 20rem;
  min-height: calc(100vh - 6rem);
}

#hero-section p:last-of-type {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

/* Heading inside hero section */
#hero-section h1 {
  color: var(--beige300);
  -webkit-text-stroke: 1px var(--viola600);
  line-height: 0.85;
  margin: 0;
}

/* Paragraph inside hero section */
#hero-section p {
  font-size: var(--fs-h2);
  font-family: var(--tertiary-font);
  color: var(--viola500);
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: var(--viola500);
  color: var(--beige100);
  font-size: var(--fs-md);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  border-radius: 0.4rem;
  margin: 0.5rem 0.5rem;
}

.btn--secondary {
  background-color: var(--beige300);
  color: var(--viola600);
  font-weight: 800;
}

a {
  transition: all 0.3s ease-in-out;
}

.btn {
  transition: all 0.4s ease-in-out;
}


/* =======================
   FEATURES SECTION
======================= */

#features-section {
  padding: 0;
  text-align: center;
  justify-content: center;
}

#features-section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#features-section li {
  position: relative;
  overflow: visible;
  margin: 1.5rem 0;
  background-color: var(--viola500);
  text-align: center;
  font-size: var(--fs-lg);
  border-radius: 8px;
  flex: 0 0 100%;
  max-width: 350px;

  padding: 1.2rem;
  border-radius: 8px;
  background-color: var(--viola500);

  background-image:

    url("data:image/svg+xml;utf8,<svg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23n)' opacity='0.12'/></svg>"),
    linear-gradient(var(--viola500), var(--viola500));

  background-size: cover;
  background-blend-mode: overlay;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  text-align: center;

}

#features-section li:hover img {
  transform: translateX(-50%) rotate(360deg) scale(1.2);
}

#features-section li img {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.6s ease-in-out;

  width: 25%;
  max-width: 150px;
  height: auto;
}

#features-section h3 {
  margin: 6rem 0 4rem;
  text-align: center;
}

#features-section p {
  margin: 3rem 0;
}

#features-section ul li {
  transition: background-color 0.5s ease-in-out;
}

/* =======================
   TEXT SELECTION
======================= */
*::selection {
  background-color: var(--viola500);
  color: var(--white);
}

a:hover {
  text-decoration-color: var(--white);
}

.btn:hover {
  background-color: var(--viola400);
}

.btn--secondary:hover {
  background-color: var(--beige400);
}

#features-section li:hover {
  background-color: var(--viola400);
}

/* =======================
   HEADER
======================= */
.site-header {
  background-color: var(--beige200);
  padding: 1rem 0;
}

.site-header .container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--viola600);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: var(--fs-lg);
}

.logo svg {
  height: 5rem;
  width: auto;
  transition: transform 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

#angry {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#happy {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.logo:hover svg {
  transform: rotate(15deg);
}

.logo:hover #happy {
  opacity: 0;
}

.logo:hover #angry {
  opacity: 1;
}

.logo span {
  line-height: 1.1;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  font-size: var(--fs-md);
}

.nav-list a {
  text-decoration: none;
  color: var(--viola600);
  font-weight: 600;
}

.nav-list a:hover {
  color: var(--viola300);
}


/* =======================
   CHAT BUTTON
======================= */

.chat-btn {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: transparent;
}

.chat-btn::after {
  content: "";
  order: 2;
  width: 4rem;
  height: 4rem;
  background-color: var(--beige300);
  background-image: url("../img/icon-chat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.chat-btn span {
  order: 1;
  background-color: var(--beige300);
  color: var(--viola600);
  font-weight: 700;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 2.5rem 0 1.5rem;
  border-radius: 2rem 0 0 2rem;

  margin-right: -3.5rem;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  white-space: nowrap;
}

.chat-btn:hover span {
  opacity: 1;
  transform: translateX(0);
  margin-right: -1.5rem;
}

/* =======================
   NAVIGATION BUTTON
======================= */

.hamburger {
  order: 1;
  display: none;
}

.logo {
  order: 2;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

/* =======================
   FOOTER
======================= */

.site-footer {
  background-color: var(--viola700);
  padding: 2rem 0;
  margin-top: 4rem;
}

.site-footer p {
  margin: 0;
  text-align: center;
  font-size: var(--fs-sm);
  color: var(--viola100);
}


/* =======================
   MEDIA QUERIES
======================= */

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 480px) {
  #features-section li {
    flex-basis: calc((100% - 1rem) / 2);
  }
}

@media (min-width: 1024px) {
  #features-section li {
    flex-basis: calc((100% - 2rem) / 3);
    aspect-ratio: 1 / 1;
  }

  .site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    gap: 0;
  }

  .nav-list a {
    padding: 0.5rem 1.5rem;
    display: inline-block;
  }
}

@media (min-width: 595px) {
  #hero-section {
    min-height: 100vh;
  }
}

@media (min-width: 769px) {
  #hero-section h1 {
    font-size: 5rem;
  }

  .site-header {
    padding-bottom: 10vh;
  }
}

@media (max-width: 768px) {
  .site-header .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  #hero-section {
    background-image: url('../img/hero-image-large.png');
  }

  #hero-section h1 {
    font-size: 5rem;
  }

  #hero-section p {
    font-size: 3rem;
  }
}

/* =======================
   NAVEGACIÓN RESPONSIVA
======================= */

@media (max-width: 1023px) {
  .site-header .container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .hamburger {
    order: 1;
    display: inline-block;
  }

  .logo {
    order: 2;
    font-size: 1.2rem;
  }

  .logo svg {
    height: 3.5rem;
  }

  nav {
    display: none;
    flex-basis: 100%;
    width: 100%;
    margin-top: 1rem;
    order: 3;
  }

  nav.is-active {
    display: block !important;
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
    background-color: var(--beige200);
    border-radius: 8px;
    padding: 1rem 0;
    gap: 0;
  }

  .nav-list li {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0.5rem 0;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }

  .nav-list a {
    display: block;
    padding: 1rem;
    color: var(--viola600);
    text-decoration: none;
  }
}

@media (min-width: 1024px) {

  .hamburger {
    display: none !important;
  }

  .site-header .container {
    flex-wrap: nowrap;
  }

  nav {
    flex-basis: auto;
    display: block !important;
  }

  .nav-list {
    flex-direction: row;
  }
}