/* 
Colors:

viola100: #f4f2fb,rgb(244, 242, 251)
viola200: #DBD3F2,rgb(219, 211, 242)
viola300: #8357AB,rgb(131, 87, 171)
viola400: #6A488B,rgb(106, 72, 139)
viola500: #4A365F,rgb(74, 54, 95)
viola600: #342541,rgb(52, 37, 65)

beige100: #FCF8F0,rgb(252, 248, 240)
beige200: #F9EFDB,rgb(249, 239, 219)
beige300: #EDD1A0,rgb(237, 209, 160)
beige400: #E8C489,rgb(232, 196, 137)

white: #FFFFFF,rgb(255, 255, 255)
black: #000000,rgb(0, 0, 0)
*/

:root {
  --viola100: #f4f2fb;
  --viola200: #DBD3F2;
  --viola300: #8357AB;
  --viola400: #6A488B;
  --viola500: #4A365F;
  --viola600: #342541;

  --beige100: #FCF8F0;
  --beige200: #F9EFDB;
  --beige300: #EDD1A0;
  --beige400: #E8C489;

  --white: #FFFFFF;
  --black: #000000;
}


body {
  background-color: var(--viola600);
  color: var(--viola100);
}

a {
  color: var(--beige400);
}

.tagline {
  color: var(--beige300);
}

.answers {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid var(--beige100);
}

code {
  background-color: var(--beige300);
  color: var(--black);
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}